<!DOCTYPE html>
<html>
    <head>
        <style>
            img {
                display: block;
                max-width:400px;
                max-height:200px;
                width: auto;
                height: auto;
            }
        </style>
    </head>
    <body>
        <ul>
        {% for product in products %}
            <div style="border-style: solid; margin-bottom: 5px; padding-left: 5px; padding-bottom: 5px;">
                <a href="/{{ product['id'] }}">
                    <h1>{{ product["name"] }}</h1>
                </a>
                <h3>${{ product["price"] }}</h3>
                <img src="{{ product['image'] }}" alt="{{ product['name'] }}">
            </div>
        {% endfor %}
        </ul>
    </body>
</html>